/* div{} / <div /> tous les éléments div appliqueront le code */
/* #demo{} / <div id='demo' /> */
/* .demo{} / <div class='demo'/> */
ul {
    list-style-type: none; padding: 0px 0; margin: 0px 0;
    }

    .code-here {
        font-family: 'Architects Daughter', cursive; padding: 8px 0;
        
    }
    .title {margin: 32px 0 ; 
    } 

.listing {margin: 0px 0;}